/* WELCOME PAGE */

/* LOGIN */

/* RESET PASSWORD */

/* LOGO COMPONENT */

/* APP  */

/* PROFILE */

.profile {
    padding: 60px;
    display: flex;
}

.profile .avatar {
    display: flex;
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid black;
    object-fit: cover;
}

.profileInfo {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* UPLOADER */

.modal {
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    height: 200px;
    width: 500px;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    transform: translate(-50%, 50%);
    align-items: center;
    left: 50%;
}

.modal p {
    font-size: 30px;
}

.modal button {
    float: right;
    margin: 5px;
}

.modal img {
    height: 35px;
    margin-left: 5px;
}

.close {
    align-self: flex-end;
    margin-right: 2%;
    font-size: 15px;
    cursor: pointer;
}

/* OTHER PROFILE */

.otherProfile img {
    display: flex;
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    border: 1px solid black;
    object-fit: cover;
    margin-right: 10px;
}

.otherProfileContainer {
    display: flex;
    flex-direction: column;
}

.otherProfile {
    padding: 60px;
    display: flex;
}

.otherProfileInfo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.friendsOfFriend {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    padding: 30px;
    margin-left: 20px;
}

.friendsOfFriend a {
    display: flex;
}

.friendsOfFriend img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

/* FIND PEOPLE */

/* FRIENDS */

/* CHAT */
