.friends-page {
    display: flex;
    justify-content: center;
}

.friendsandwannabes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
}

.friendsandwannabes img {
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 10px;
}

.friendsandwannabes ul {
    display: flex;
    font-size: 30px;
    margin: 10px;
}

.wannabeDescription {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 5%;
    width: 300px;
}

.wannabeDescription h3 {
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    color: #20252b;
}

.friendsDescription {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 5%;
    width: 300px;
}

.friendsDescription h3 {
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    color: #20252b;
}

.friendsandwannabes button {
    margin-top: 10px;
    margin-bottom: 20px;
}

.friendsandwannabes a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.wannabe-container {
    display: flex;
    flex-direction: column;
}

.find-friends {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10%;
    width: 300px;
    border-left: 2px solid #f8ab2e;
    padding-left: 10%;
}

.imageUser {
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 10px;
}

.resultsearch ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.resultsearch li a {
    display: flex;
    border-bottom: 1px solid rgb(56, 56, 56);
    align-items: center;
    padding: 10px;
    width: 300px;
    /* justify-content: center; */
    text-decoration: none;
    color: black;
}

span {
    /* display: flex; */
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 25px;
    color: #20252b;
    margin-top: 5%;
    margin-bottom: 5%;
}
