.register {
    display: flex;
}

.register form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10%;
}

.register input {
    margin-bottom: 15px;
    font-size: 20px;
    width: 250px;
}

.register h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: #20252b;
    font-family: "Architects Daughter", cursive;
}

button {
    background-color: white;
    color: #76c0ca;
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    font-size: 15px;
    align-self: center;
    font-weight: bold;
}

button:hover {
    color: #535e6b;
    background-color: #f8ab2e;
}
